<nav class="navbar navbar-expand d-print pt-1 p-0 border-bottom mb-4 pb-2">
    <div class="container m-0" style="width: 110px !important;">
        <div class="row m-0 p-0">
            <div class="col-1 m-0 p-0">
                <a class="navbar-brand m-0 p-0" href="#">
                    <img src="/static/icons/favicon.ico" width="40" height="40" alt="">
                </a>
            </div>
        </div>

        <div class="row m-0 justify-content-start">
            <div class="col-1">
                <div class="text-success font-weight-bolder mr-3 text-left">Lets Help</div>
            </div>
        </div>
    </div>


    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/pages/public/signup">Sign Up</a>
        <a class="nav-item nav-link" href="/pages/public/login">Login</a>
<!--        <a class="nav-item nav-link" href="/pages/public/faq">FAQ</a>-->
    </div>
</nav>
